<!DOCTYPE html>
<html lang="es">

<head>
  <title>Sistema de Gestión Académica: Administración de Asignaturas</title>
  <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
    <div th:replace="~{fragmentos/general.html :: navigation}"> </div>
    <div class="container m-3">
        <form class="row"
            th:action="@{/asignaturas/add}"
            th:object="${asignatura}"
            method="post">

            <div class="mb-3">
                <label class="form-label" for="curso">Ingrese el curso:</label>
                <input class="form-control" name="curso" placeholder="Ingrese el curso actual"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="nombre">Nombre de la asignatura:</label>
                <input class="form-control" name="nombre" placeholder="Ingrese el nombre"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="ciclo">Ciclo:</label>
                <input class="form-control" name="ciclo" placeholder="Ingrese el ciclo"/>
            </div>
            
            <div>
                <button class="btn btn-outline-info" type="submit">Enviar</button>
            </div>
        </form>
    </div>
    <div th:replace="~{fragmentos/general.html :: footer}"></div>
</div>
</body>

</html>
