<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gestión Académica</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
    
    <div th:replace="~{fragmentos/general.html :: headerfiles}"> </div>

    <div class="container">
        <h3>Añadir usuarios</h3>

        <form th:action="|/usuarios/add|" th:object="${usuario}" method="post">
            <input hidden th:field="${usuario.id}" />
            
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <label class="form-label">Nombre: </label>
                        <input type="text" th:field="*{nombre}" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Apellido: </label>
                        <input type="text" th:field="*{apellido}" class="form-control"  />
                    </div>
                </div>
            </div>
            
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <label class="form-label" for="email">Correo Electrónico:</label>
                        <input type="email" name="email" th:field="*{email}" class="form-control" />
                    </div>
                </div>
            </div>
            
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <label class="form-label">Nombre de usuario: </label>
                        <input type="text" th:field="*{username}" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Contraseña:</label> 
                        <input type="password" th:field="*{password}" class="form-control" />
                    </div>
                </div>
            </div>
            
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <label class="form-label">Roles:</label>
                        <select th:field="*{roles}" multiple="multiple" class="form-select" >
                            <option 
                                th:each="rol : ${roles}" 
                                th:value="${rol.id}"
                                th:selected="${#lists.contains(usuario.roles, rol)} ? 'selected' : 'false'"
                                th:text="${rol.nombre}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-outline-info">Guardar</button>
                        <a href="/usuarios" class="btn btn-outline-warning">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>

        <div th:replace="~{fragmentos/general.html :: footer}"></div>
    </div>
</body>

</html>
